$white:#fff;
$baseTab: #1f1f1f;
$baseBackground: #ffee00;
$baseBorder:#dfdfdf;
$dollFont:#505050;
$dollCoin:#ff5858;
$bottomCTL:#424242;
$dollCatchTime:#919191;
$ButtonFontColor:#b7b7b7;
$friendPayBaseColor:#ffd3dc;
$friendPayborderColor:#fed5dd;